{
  "presets": ["react"],
  "env": {
    "commonjs": {
      "plugins": [
        "transform-class-properties", 
        "transform-object-rest-spread"
      ],
      "presets": ["env"]
    },
    "es": {
      "plugins": [
        "transform-class-properties", 
        "transform-object-rest-spread"
      ],
      "presets": [
        ["env", { "modules": false }]
      ]
    }
  }
}
