language: node_js
node_js:
  - "7"
  - "6"
  - "5"
  - "4"
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
after_success:
  - cat coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
script:
    - make tests-ci
